name: Nightly Integration Tests

on:
  schedule:
    - cron: '7 4 * * *'
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Integration Tests Only
        run: mvn -B test-compile failsafe:integration-test --file pom.xml

      - name: Integration Test Report
        uses: dorny/test-reporter@7b7927aa7da8b82e81e755810cb51f39941a2cc7
        if: (success() || failure()) && github.actor != 'dependabot[bot]'
        with:
          name: Integration Tests Report
          path: target/*-reports/TEST-*.xml
          reporter: java-junit

